*{
  box-sizing: border-box;
}
body{
  font-family: Tahoma, Arial;
}
.container{
  margin: 20px auto;
  width: 1000px;  
}
.row{
  display: flex;
}
hr{
  border: 1px solid #eee;
}
.game-info{
  display: flex;
}
.game-info .game-name{
  flex: 1;
  color: #e91e63;
  font-size: 24px;
  letter-spacing: 8px;
}
.game-info .category{
  flex: 1;
  text-align: right;
  font-size: 19px;
  color: #09c;
  font-weight: bold;
}
.game-info .category span{
  text-transform: capitalize;
  color: #e91e63; 
  font-weight: bold;
}
.hangman-draw{
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .the-draw{
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -60px;
  display: none;
}
.hangman-draw .the-stand{
content: "";
position: absolute;
background-color: #222;
width: 4px;
height: 100%;
left: 50%;
margin-left: -2px;
display: none;
}
.hangman-draw .the-hang{
  display: none;
}
.hangman-draw .the-hang:before{
  content: "";
  position: absolute;
  background-color: #222;
  height: 4px;
  width: 100px;
  left: 30px;
  top: 15px;
}  
.hangman-draw .the-hang:after{
  content: "";
  position: absolute;
  background-color: #222;
  height: 30px;
  width: 4px;
  left: 130px;
  top: 15px;
}  
.hangman-draw .the-rope{
  position: absolute;
  height: 70px;
  width: 70px;
  border: 4px dashed #222;
  border-radius: 50%;
  left: 95px;
  top: 45px;
  display: none;
}

.hangman-draw .the-man .head{
  position: absolute;
  height: 50px;
  width: 50px;
  border: 4px solid #222;
  border-radius: 50%;
  left: 105px;
  top: 55px;
  display: none;
}
.hangman-draw .the-man .body{
  position: absolute;
  background-color: #222;
  height: 110px;
  width: 4px;
  left: 130px;
  top: 102px;
  display: none;
}



.hangman-draw .the-man .hands{
  display: none;
}
.hangman-draw .the-man .hands:after{
  transform: rotate(-30deg);
  left: 130px;
}
.hangman-draw .the-man .hands:before{
  transform: rotate(30deg);
  left: 85px;
}
.hangman-draw .the-man .hands:before,
.hangman-draw .the-man .hands:after{
  content: "";
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: #222;
  top: 140px;
}



.hangman-draw .the-man .legs{
  display: none;
}
.hangman-draw .the-man .legs:after{
  transform: rotate(30deg);
  left: 130px;
}
.hangman-draw .the-man .legs:before{
  transform: rotate(-30deg);
  left: 85px;
}
.hangman-draw .the-man .legs:before,
.hangman-draw .the-man .legs:after{
  content: "";
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: #222;
  top: 220px;
}
.hangman-draw.wrong-1 .the-draw{
  display: block;
}
.hangman-draw.wrong-2 .the-stand{
  display: block;
}
.hangman-draw.wrong-3 .the-hang{
  display: block;
}
.hangman-draw.wrong-4 .the-rope{
  display: block;
}
.hangman-draw.wrong-5 .head{
  display: block;
}
.hangman-draw.wrong-6 .body{
  display: block;
}
.hangman-draw.wrong-7 .hands{
  display: block;
}
.hangman-draw.wrong-8 .legs{
  display: block;
}

.letters{
  flex: 1;
  padding: 0px;
  text-align: center;
}
.letters.finished{
  pointer-events: none;
}
.letters .letter-box{
  width: 50px;
  height: 45px;
  display: inline-block;
  background-color: #09c;
  color: #eee;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.letters .letter-box.clicked{
  background-color: #222;
  opacity: .2;
  pointer-events: none;
}
.letters-guess{
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.letters-guess span{
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom:3px solid #222 ;
  transition: .3s;
}
.letters-guess span.has-space{
  background-color: none;
  border-bottom: none;
  position: relative;
}
.letters-guess span.has-space:before{
  content: "";
  width: 20px;
  height: 4px;
  position: absolute;
  background-color: #333;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);

}

.popup{
  position: fixed;
  color: #eee;
  background-color: #e91e63;
  width: 60%;
  padding: 80px 20px;
  text-align: center;
  top:20% ;
  left:20% ;
  font-size: 40px;
  border: 1px solid #fff;
}